{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (2)</a></li>
  <li><a href='/blog/categories/chrome'>Chrome (1)</a></li>
  <li><a href='/blog/categories/github'>Github (1)</a></li>
  <li><a href='/blog/categories/helloworld'>Helloworld (1)</a></li>
  <li><a href='/blog/categories/jamendo'>Jamendo (1)</a></li>
  <li><a href='/blog/categories/java'>Java (2)</a></li>
  <li><a href='/blog/categories/javascript'>Javascript (3)</a></li>
  <li><a href='/blog/categories/maven'>Maven (1)</a></li>
  <li><a href='/blog/categories/mootools'>Mootools (1)</a></li>
  <li><a href='/blog/categories/music'>Music (1)</a></li>
  <li><a href='/blog/categories/octopress'>Octopress (1)</a></li>
  <li><a href='/blog/categories/project'>Project (1)</a></li>
  <li><a href='/blog/categories/sony'>Sony (1)</a></li>
  <li><a href='/blog/categories/sr45h'>Sr45h (1)</a></li>
  <li><a href='/blog/categories/封装'>封装 (1)</a></li>
  <li><a href='/blog/categories/拆机'>拆机 (1)</a></li>
  <li><a href='/blog/categories/环境搭建'>环境搭建 (2)</a></li>
  <li><a href='/blog/categories/算法'>算法 (1)</a></li>
</ul>
</section>
{% endif %}
