@charset "utf-8";
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    font: 12px/150% Arial,Verdana,"宋体";
}
a:link,a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}
.pr s, .pr b, .pr .block{
	overflow: hidden;
	position: absolute;
}
.w{
	margin: 0 auto;
	width: 1210px;
}
.form label, .form input, .form select, .form textarea, .form button, .form .label {
	float: left;
	font-size: 12px;
}
h2,h3{
	font-size: 14px;
}
.btn-img, .button {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	cursor: pointer;
}
.btn-text {
	margin: 0;
	padding: 0;
	text-align: center;
	cursor: pointer;
}
/*top start*/
#top, #top .w, #top .fl b, #top .menu b{
	background-image: url('../images/../images/back.png');
	background-repeat: no-repeat;
}
#top{
	line-height: 30px;
	padding-bottom: 1px;
	width: 100%;
}
#top, #top .w{
	background-color: #EFEFEF;
	background-repeat: repeat-x;
	height: 30px;
}
.oh li, .oh dl, .oh .item{
	float: left;
}
#top li{
	background-image: url('../images/../images/index.png');
	background-repeat: no-repeat;
}
#top li{
	background-position: -230px -320px;
	height: 27px;
	padding: 0px 9px;
}
#top .fl .fore1{
	background: none repeat scroll 0 0 transparent;
	padding-left: 15px;
}
#top .fl b {
	top: 10px;
	left: 1px;
	width: 10px;
	height: 10px;
	background-position: -57px -289px;
	cursor: pointer;
}
#top .fr {
	height: 30px;
	overflow: visible;
}
#top .fr .fore1 {
	background: none;
}
#loginbar a{
	margin-left: 5px;
}
#top .fr .menu {
	position: relative;
	z-index: 10;
	width: 81px;
	padding: 3px 0 0;
}
#top .menu dl {
	width: 67px;
	padding: 0 6px;
}
#top .menu dt {
	height: 24px;
	padding: 0 10px 1px 6px;
	line-height: 24px;
	cursor: default;
}
#top .menu b {
	top: 10px;
	right: 3px;
	width: 7px;
	height: 4px;
	background-position: -35px -281px;
}
#top .menu dd {
	display: none;
	padding: 4px 0 4px 5px;
	line-height: 21px;
}
#top .fr .hover {
	z-index: 11;
}
/*top end*/

/*head start*/
#head{
	height: 60px;
	padding: 15px 0;
}
#logo{
	float: left;
	padding-top: 5px;
	width: 350px;
}
#header {
	height: 60px;
	padding: 15px 0;
}
#logo {
	float: left;
	width: 330px;
	padding-top: 5px;
}
#logo a:link b, #logo a:visited b {
	top: 11px;
	left: 190px;
	width: 69px;
	height: 34px;
	cursor: pointer;
}
#logo a:hover b, #logo a:active b {
	background: url(../images/back.png) no-repeat -5px -470px;
}
#search b, #search s, #search .form, #search .text, #search .button {
	background-image: url(../images/back.png);
	background-repeat: repeat-x;
}
#search {
	float: left;
	width: 320px;
	padding: 4px 86px 0 0;
}
#search input {
	margin: 0;
	padding: 0;
	height: 30px;
	border: none;
}
#search .search-i {
	z-index: 7;
	width: 304px;
	height: 36px;
	margin-bottom: 3px;
	border: solid #D00000;
	border-width: 0 3px;
}
#search b, #search s {
	height: 36px;
	top: 0;
	background-repeat: no-repeat;
}
#search b {
	width: 4px;
	left: -3px;
	background-position: -81px -470px;
}
#search s {
	width: 3px;
	right: -3px;
	background-position: 0 -470px;
}
#search .form {
	height: 30px;
	padding: 3px 0;
	overflow: hidden;
	background-position: 0 -357px;
	background-color: #D00000;
}
#search .text {
	position: relative;
	z-index: 1;
	width: 216px;
	height: 20px;
	padding: 5px;
	background-position: 0 -360px;
	background-color: #fff;
	background-repeat: repeat-x;
	line-height: 20px;
	color: #999;
	font-family: arial, "\5b8b\4f53";
	font-size: 14px;
}
#search .button {
	position: relative;
	z-index: 1;
	width: 78px;
	background-position: 0 -395px;
	background-color: #FBB111;
	font-size: 14px;
	font-weight: bold;
}
#hotwords {
	height: 18px;
	color: #999;
	overflow: hidden;
}
#hotwords span, #hotwords strong {
	float: left;
	font-weight: normal;
}
#hotwords a:link, #hotwords a:visited {
	float: left;
	margin-right: 10px;
	color: #999;
}
#hotwords a:hover, #hotwords a:active {
	color: #C00;
}
#logo {
	width: 350px;
}
#shortcut .fl span {
	display: inline;
}
#navitems {
	background-position: 990px -273px;
}
#search {
	width: 510px;
	padding-right: 96px;
}
#search .search-i {
	width: 494px;
}
#search .text {
	width: 406px;
}
.ld s, .ld b, .ld .block {
	position: absolute;
	overflow: hidden;
}
#myshop dt, #myshop dt img, #myshop .prompt .btn-login, #myshop .orderlist .more {
	background-image: url(../images/index.png);
	background-repeat: no-repeat;
}
#myshop dt b, #myshop dl.hover dt b, #myshop .prompt {
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
}
#myshop {
	float: left;
	position: relative;
	z-index: 9;
	width: 112px;
	height: 30px;
	margin-top: 12px;
}
#myshop dt {
	position: absolute;
	z-index: 1;
	width: 50px;
	height: 30px;
	padding: 0 26px 0 36px;
	background-color: #fff;
	background-position: -64px -320px;
	text-align: center;
	line-height: 27px;
	cursor: pointer;
	*line-height: 30px;
}
#myshop dt img {
	position: absolute;
	top: 2px;
	left: 3px;
	background-position: -202px -176px;
}
#myshop dt span {
	font-family: "\5b8b\4f53";
	color: #005EA7;
}
#myshop dt b {
	top: 11px;
	right: 10px;
	width: 11px;
	height: 6px;
	background-position: -15px -283px;
}
#myshop dd {
	display: none;
	position: absolute;
	top: 31px;
	right: 1px;
	width: 310px;
	border: 1px solid #E3E3E3;
	background: #fff;
	border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
}
#myshop dl.hover dt {
	height: 32px;
	background-position: -64px -351px;
}
#myshop dl.hover dd {
	display: block;
}
#myshop dl.hover dt b {
	background-position: -15px -275px;
}
#myshop .prompt a, #myshop .orderlist a {
	color: #005EA7;
}
#myshop .prompt {
	padding: 6px 6px 6px 9px;
	background-position: 0 -118px;
	background-repeat: repeat-x;
	overflow: hidden;
	line-height: 25px;
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	zoom: 1;
}
#myshop .prompt .btn-login {
	display: block;
	width: 73px;
	height: 25px;
	background-position: -124px -220px;
	background-color: #F4C36E;
	text-align: center;
	line-height: 25px;
	color: #333;
}
#myshop .smt h4 {
	float: left;
	padding-left: 4px;
	font-weight: normal;
}
#myshop .smt .extra {
	float: left;
}
#myshop .orderlist {
	width: 300px;
	padding: 8px 5px;
	border-bottom: 1px solid #E6E6E6;
}
#myshop .orderlist li {
	overflow: hidden;
	border-top: 1px dotted #ccc;
	zoom: 1;
}
#myshop .orderlist .fore1 {
	border-top: none;
}
#myshop .orderlist span {
	color: #F60;
}
#myshop .orderlist .p-img {
	padding-left: 4px;
}
#myshop .orderlist .p-img img, #myshop .orderlist .more {
	float: left;
	border: 1px solid #ddd;
	margin-right: 3px;
}
#myshop .orderlist .more {
	width: 50px;
	height: 50px;
	overflow: hidden;
	line-height: 150px;
	background-position: -137px -252px;
	margin-right: 0;
}
#myshop .orderlist .p-detail {
	padding-top: 2px;
}
#myshop .uclist {
	width: 310px;
	padding: 5px 0;
	margin: 5px 0;
	overflow: hidden;
}
#myshop .uclist ul {
	width: 134px;
	padding: 0 10px;
}
#myshop .uclist .fore1 {
	border-right: 1px solid #E6E6E6;
}
#myshop .uclist li {
	border-bottom: 1px dotted #ccc;
}
#myshop .uclist a:link, #myshop .uclist a:visited {
	display: block;
	height: 18px;
	overflow: hidden;
	padding: 5px;
	text-decoration: none;
	color: #005EA7;
}
#myshop .uclist a:hover, #myshop .uclist a:active {
	background: #F5F5F5;
	color: #C00;
}
#myshop .viewlist {
	width: 305px;
	padding: 8px 0 8px 5px;
	background: #F3F3F3;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
#myshop .viewlist span {
	padding-left: 4px;
}
#myshop .viewlist li {
	width: 52px;
	padding: 4px;
	line-height: 0;
	font-size: 0;
}
#myshop .viewlist a:link, #myshop .viewlist a:visited {
	display: block;
	border: 1px solid #ddd;
}
#myshop .loading-style1 {
	margin: 10px auto;
}
#cart dt, #cart .smb a {
	background-image: url(../images/index.png);
	background-repeat: none;
}
#cart .shopping, #cart .shopping span, #cart dt b, #cart .smt {
	background-image: url(../images/back.png);
	background-repeat: none;
}
#cart {
	float: right;
	position: relative;
	z-index: 9;
	width: 131px;
	height: 30px;
	margin-top: 12px;
}
#cart dt {
	position: absolute;
	z-index: 3;
	width: 80px;
	height: 30px;
	padding: 0 16px 0 35px;
	background-color: #fff;
	background-position: 0 -252px;
	cursor: pointer;
	text-align: center;
}
#cart dt s {
	top: -8px;
	left: 24px;
	text-decoration: none;
	color: #fff;
}
#cart .shopping {
	background-position: 0 -231px;
	padding-left: 6px;
}
#cart .shopping span {
	float: left;
	display: block;
	height: 20px;
	padding-right: 6px;
	background-position: 100% -595px;
}
#cart dt a {
	line-height: 27px;
	*line-height: 30px;
}
#cart dt b {
	top: 9px;
	right: 10px;
	width: 5px;
	height: 9px;
	background-position: -52px -275px;
}
#cart dd {
	display: none;
	position: absolute;
	top: 31px;
	right: 0;
	width: 350px;
}
#cart dl.hover dt {
	height: 32px;
	background-position: 0 -283px;
}
#cart dl.hover dd {
	display: block;
}
#cart-content {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 350px;
}
#cart-iframe {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 350px;
	background: #000;
}
#cart .prompt {
	border: 1px solid #ddd;
	padding: 10px 15px;
	background: #fff;
	text-align: center;
	border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
}
#cart .sm {
	margin-bottom: 0;
}
#cart .smt {
	height: 25px;
	padding: 6px 8px;
	background-position: 0 -118px;
	background-repeat: repeat-x;
	border: solid #ddd;
	border-width: 1px 1px 0;
	line-height: 25px;
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
#cart .smt .extra {
	color: #999;
}
#cart .smc {
	border: solid #ddd;
	border-width: 0 1px;
	background: #fff;
	max-height: 344px;
}
#cart ul {
	margin-top: -1px;
}
#cart li {
	height: 52px;
	padding: 8px 10px;
	border-top: 1px dotted #ccc;
	overflow: hidden;
	line-height: 17px;
	vertical-align: bottom;
}
#cart li:hover, #cart li.hover {
	background: #F5F5F5;
}
#cart .p-img {
	width: 50px;
	height: 50px;
	border: 1px solid #ddd;
	padding: 0;
	margin-right: 10px;
	font-size: 0;
}
#cart .p-name {
	width: 160px;
	height: 52px;
}
#cart .p-price {
	font-weight: bold;
}
#cart .delete {
	color: #005EA7;
}
#cart .smb {
	padding: 8px;
	background: #F3F3F3;
	border: solid #ddd;
	border-width: 0 1px 1px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
#cart .smb b {
	margin: 0 5px;
	color: #C00;
}
#cart .smb strong {
	font-size: 18px;
	color: #C00;
}
#cart .smb a {
	display: inline-block;
	width: 120px;
	height: 30px;
	margin-top: 6px;
	background-position: 0 -220px;
	color: #fff;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
}
#cart li.style1 {
	height: auto;
}
#cart li.style1 .gift {
	height: 17px;
	overflow: hidden;
}
#cart li.style1 .gift a {
	color: #999;
}
#nav, #navitems, #navitems li, #navitems .fore1, #navitems .curr a, #navitems .hover a {
	background-image: url(../images/back.png);
	background-repeat: repeat-x;
}
#nav {
	position: relative;
	z-index: 6;
	height: 40px;
	padding-left: 210px;
	margin-bottom: 10px;
	background: url(../images/back.png) #D00000 repeat-x 0 -315px;
}
#navitems, #navitems li, #navitems li a {
	height: 40px;
}
#navitems {
	background-position: 990px -273px;
	background-repeat: no-repeat;
}
#navitems li {
	float: left;
	position: relative;
	width: 83px;
	background-position: -83px -509px;
	background-repeat: no-repeat;
}
#navitems li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 85px;
	text-align: center;
	color: #fff;
	font: bold 15px/40px "microsoft yahei";
	text-decoration: none;
}
#navitems .fore1 {
	background-position: -55px -231px;
	background-repeat: no-repeat;
}
#navitems .curr, #navitems .hover {
	z-index: 1;
}
#navitems .curr a, #navitems .hover a {
	background-position: 0 -161px;
}
#treasure {
	position: absolute;
	right: 0;
	top: 0;
}
#categorys, #categorys .mt, #categorys .mt b, #categorys h3, #categorys s, #categorys .close, #categorys.hover .mt b {
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
}
.mb10, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
	overflow: hidden;
	zoom: 1;
}
.mb10{
	margin-bottom: 10px;
}
.mt h2, .smt h3{
	font-family: "microsoft yahei";
	font-weight: bold;
}
#categorys .fr {
	background-image: url(../images/index-imagesd.png);
	background-repeat: repeat-y;
}
#categorys {
	position: absolute;
	top: 0;
	left: 0;
	width: 210px;
	height: 40px;
	background-position: 0 -427px;
	background-repeat: repeat-x;
}
#categorys .mt {
	background-position: -75px -273px;
}
#categorys .mt a {
	display: block;
	height: 40px;
	padding-left: 20px;
	line-height: 40px;
	color: #fff;
}
#categorys .mt b {
	top: 9px;
	right: 9px;
	width: 25px;
	height: 25px;
	background-position: 0 -204px;
}
#categorys .mc {
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
	width: 203px;
	height: 422px;
	padding: 3px 3px 3px 0;
	background: #FCF4EA;
	border: solid #D00000;
	border-width: 0 2px 2px;
	overflow: visible;
}
#categorys .item {
	width: 200px;
	height: 30px;
	border-top: 1px solid #FFFDFA;
}
#categorys .fore1 {
	border-top: none;
}
#categorys span {
	display: block;
	width: 203px;
	position: absolute;
	z-index: 1;
}
#categorys h3 {
	width: 164px;
	height: 28px;
	padding-left: 18px;
	border: solid #FCF4EA;
	border-width: 1px 0 1px 1px;
	background-position: -75px -562px;
	background-color: #FCF4EA;
	background-repeat: no-repeat;
	font-weight: normal;
	line-height: 28px;
}
#categorys h3 a:link, #categorys h3 a:visited {
	color: #333;
}
#categorys h3 a:hover, #categorys h3 a:active {
	color: #C00;
	font-weight: bold;
}
#categorys s {
	display: block;
	position: absolute;
	top: 9px;
	left: 182px;
	width: 9px;
	height: 11px;
	background-position: -62px -273px;
}
#categorys .item .i-mc {
	display: none;
	position: absolute;
	left: 181px;
	top: 3px;
	width: 692px;
	border: 1px solid #c30;
	background: #fff;
	overflow: hidden;
}
#categorys .item dt {
	padding: 3px 6px 0 0;
	font-weight: bold;
	color: #C00;
}
#categorys .item dd {
	padding: 3px 0 0;
	overflow: hidden;
	zoom: 1;
}
#categorys .subitem {
	float: left;
	width: 464px;
	min-height: 370px;
	padding: 0 4px 0 8px;
}
#categorys .subitem dl {
	border-top: 1px dotted #EED6B7;
	padding: 6px 0;
	overflow: hidden;
	zoom: 1;
}
#categorys .subitem .fore1 {
	border-top: none;
}
#categorys .subitem dt {
	float: left;
	width: 54px;
	line-height: 22px;
	text-align: right;
}
#categorys .subitem dd {
	float: left;
	width: 402px;
}
#categorys .subitem em {
	float: left;
	height: 14px;
	margin: 4px 0;
	line-height: 14px;
	padding: 0 8px;
	border-left: 1px solid #ccc;
}
#categorys .subitem dt a {
	color: #c00;
	text-decoration: underline;
}
#categorys .subitem dd a {
	white-space: nowrap;
}
#categorys .fr {
	background-position: -548px 0;
	background-color: #FCF4EA;
	width: 210px;
	padding-bottom: 2010px;
	margin-bottom: -2000px;
}
#categorys .fr dl {
	width: 194px;
	padding: 6px 8px;
}
#categorys .fr a {
	color: #666;
}
#categorys .fr dd {
	padding-top: 6px;
	line-height: 20px;
	overflow: hidden;
}
#categorys .categorys-brands li {
	float: left;
	width: 97px;
}
#categorys .mc .extra {
	padding: 3px 8px 4px 18px;
	height: 15px;
	line-height: 15px;
	overflow: hidden;
	background: #FDF1DE;
	border-top: 1px solid #FDE6D2;
}
#categorys .mc .extra a {
	color: #c00;
}
#categorys .close {
	position: absolute;
	top: 6px;
	left: 666px;
	z-index: 14;
	width: 19px;
	height: 19px;
	background-position: -56px -204px;
	cursor: pointer;
}
#categorys .loading-style1 {
	margin-top: 10px;
}
#categorys .fore1 .categorys-brands li, #categorys .fore13 .categorys-brands li {
	width: 194px;
}
#categorys .fore13 .i-mc {
	top: 58px;
}
#categorys .hover span {
	z-index: 13;
	width: 160px;
}
#categorys .hover h3 {
	border: solid #c30;
	border-width: 1px 0;
	background-color: #fff;
	overflow: hidden;
}
#categorys .hover s {
	display: none;
}
#categorys .hover .i-mc {
	display: block;
	z-index: 12;
}
#categorys.hover .mt b {
	background-position: -28px -204px;
}
#categorys.hover .mc {
	display: block;
}
/*head end*/
/*slide start*/
#slide {
	float: left;
	width: 670px;
	height: 420px;
	margin-left: 220px;
}
#slide .slide-itemswrap, #slide .slide-items, #slide .slide-items li {
	width: 670px;
	height: 390px;
	overflow: hidden;
}
#slide .slide-items {
	background: #F5F5F5;
}
#slide .slide-items div {
	float: left;
}
#slide .slide-controls {
	height: 22px;
	padding: 4px 10px;
	background: #EEE;
	text-align: right;
}
#slide .slide-controls span {
	width: 22px;
	height: 22px;
	line-height: 22px;
}
#slide .slide-controls a {
	font-size: 13px;
}
#slide .style1 .fore2, #slide .style1 .fore3, #slide .style1 .fore4 {
	margin-left: 1px;
}
*html #slide {
	margin-left: 110px;
}
.slide {
	position: relative;
	background: url(http://misc.360buyimg.com/lib/skin/e/i/loading.gif) no-repeat center center;
}
.slide .slide-itemswrap {
	position: relative;
	overflow: hidden;
}
.slide .slide-items {
	position: absolute;
	overflow: hidden;
}
.slide-controls span {
	display: inline-block;
	margin: 0 1px;
	background: #999;
	text-align: center;
	cursor: default;
	color: #fff;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}
.slide-controls a:link, .slide-controls a:visited {
	display: inline-block;
	width: 100%;
	color: #fff;
	font-weight: bold;
}
.slide-controls .curr {
	background: #C00;
}
/*slide end*/
#slogens {
	position: relative;
	float: right;
	width: 310px;
	height: 80px;
	overflow: visible;
}
#slogens dt {
	position: absolute;
	top: 0;
	width: 69px;
	height: 78px;
	border: solid #ddd;
	border-width: 1px 0 1px 1px;
	text-align: center;
	font-weight: bold;
	font-family: "microsoft yahei";
}
#slogens dt a {
	display: block;
	width: 100%;
	height: 76px;
	padding: 2px 0 0;
	text-decoration: none;
}
#slogens dt b, #slogens .close b {
	background-image: url(../images/index-image.png);
	background-repeat: no-repeat;
}
#slogens dt strong {
	color: #666;
	display: block;
	line-height: 14px;
}
#slogens dt b {
	display: block;
	width: 45px;
	height: 40px;
	margin: 0 auto 2px;
	overflow: hidden;
	cursor: pointer;
}
#slogens-fore1 dt {
	left: 0;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}
#slogens-fore2 dt {
	left: 70px;
	border-left: 1px solid #f3f3f3;
}
#slogens-fore3 dt {
	left: 140px;
	width: 68px;
	border-left: 1px solid #f3f3f3;
	border-right: 1px solid #ddd;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}
#slogens-fore1 b {
	background-position: -216px -492px;
}
#slogens-fore2 b {
	background-position: -265px -492px;
}
#slogens-fore3 b {
	background-position: -216px -536px;
}
#slogens dd {
	display: none;
	position: absolute;
	top: 79px;
	left: 0;
	width: 208px;
	height: 159px;
	background: #fff;
	border: 1px solid #ddd;
	overflow: hidden;
}
#slogens dd strong {
	display: block;
	margin: 15px 10px;
	font-family: "microsoft yahei";
	font-size: 18px;
}
#slogens dd em {
	font-weight: bold;
}
#slogens dd p {
	padding: 0 10px;
}
#slogens dd .extra {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 188px;
	padding: 6px 10px;
	background: #F3F3F3;
	text-align: right;
}
#slogens dd a {
	color: #005EA7;
}
#slogens .close {
	display: none;
	position: absolute;
	top: 5px;
	right: -20px;
	width: 20px;
}
#slogens .close a:link, #slogens .close a:visited {
	display: block;
	width: 14px;
	padding: 20px 3px 5px;
	background: #A2A2A2;
	text-align: center;
	color: #fff;
	font: bold 11px/14px "microsoft yahei";
}
#slogens .close a:hover, #slogens .close a:active {
	background: #333;
	text-decoration: none;
}
#slogens .close b {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 13px;
	height: 13px;
	cursor: pointer;
}
#slogens:hover #slogens-fore1 dt {
	border-radius: 5px 0 0;
	-moz-border-radius: 5px 0 0;
	-webkit-border-radius: 5px 0 0;
}
#slogens:hover #slogens-fore3 dt {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
#slogens .hover dt {
	z-index: 1;
	padding-bottom: 1px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: none;
	color: #C30;
}
#slogens .hover dd, #slogens.hover .close {
	display: block;
}
#slogens .hover b {
	width: 60px;
	height: 50px;
	margin-top: 12px;
}
#slogens .hover dt strong {
	display: none;
}
#slogens #slogens-fore1.hover b {
	background-position: -216px -342px;
}
#slogens #slogens-fore2.hover b {
	background-position: -216px -392px;
}
#slogens #slogens-fore3.hover b {
	background-position: -216px -442px;
}
#slogens dt {
	width: 102px;
}
#slogens dt a {
	height: 64px;
	padding: 9px 0 5px;
}
#slogens dt b {
	margin-bottom: 4px;
}
#slogens dt strong {
	display: inline;
	line-height: 18px;
}
#slogens-fore2 dt {
	left: 103px;
}
#slogens-fore3 dt {
	left: 206px;
	width: 102px;
}
#slogens dd {
	width: 308px;
}
#slogens dd .extra {
	width: 288px;
}
#slogens .hover dt b {
	margin-top: 6px;
}
#slogens .hover dt strong {
	display: none;
}
#jdnews .mt, .m1 .mt, .sm1 .smt, .m2 .mt, .sm2 .smt {
	padding: 0 8px;
	background: #F3F3F3;
	border: solid #ddd;
	border-width: 1px 1px 0;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}
#jdnews .mt h2,.m1 .mt h2, .sm1 .smt h3, .m2 .mt h2, .sm2 .smt h3 {
	float: left;
}
.mb10 .mt .extra a:link, .m .mt .extra a:visited, .sm .smt .extra a:link, .sm .smt .extra a:visited{
	color: #005EA7;
}
.mb10 .mt .extra, .sm1 .smt .extra, .m2 .mt .extra, .sm2 .smt .extra {
	float: right;
}
.mb10 .mc, .sm1 .smc, .m2 .mc, .sm2 .smc, .m3 .mc, .sm3 .smc {
	border: solid #ddd;
	border-width: 0 1px 1px;
}
.mb10 .mt, .sm1 .smt {
	height: 29px;
	line-height: 29px;
}
.m2 .mt, .sm2 .smt {
	height: 39px;
	line-height: 38px;
}
.m3 .mt, .sm3 .smt {
	position: absolute;
	top: 0;
	background: url(../images/back.png) #efefef repeat-x 0 -32px;
	border: 1px solid #ddd;
	text-align: center;
}
#jdnews {
	float: right;
	width: 310px;
}
#jdnews .mc {
	height: 100px;
	padding: 10px 0 9px;
}
#jdnews ul {
	width: 308px;
	height: 100px;
	overflow: hidden;
}
#jdnews li {
	float: left;
	width: 133px;
	height: 25px;
	padding: 0 10px;
	line-height: 25px;
	overflow: hidden;
}
#virtuals {
	position: relative;
	float: right;
	width: 210px;
	padding-top: 30px;
}
#virtuals .mt {
	width: 52px;
	height: 30px;
	line-height: 30px;
}
#virtuals .fore1 .mt {
	left: 0;
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
#virtuals .fore2 .mt {
	left: 53px;
	width: 51px;
}
#virtuals .fore3 .mt {
	left: 105px;
	width: 51px;
}
#virtuals .fore4 .mt {
	left: 157px;
	width: 51px;
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
#virtuals .mc {
	display: none;
	width: 208px;
	height: 139px;
}
#virtuals .curr .mt {
	height: 31px;
	background: #fff;
	border-bottom: none;
}
#virtuals .curr .mc {
	display: block;
}
#virtuals .loading-style1 {
	margin-top: 40px;
}
#virtuals {
	width: 310px;
}
#virtuals .fore1 .mt {
	width: 77px;
}
#virtuals .fore2 .mt {
	left: 78px;
	width: 76px;
}
#virtuals .fore3 .mt {
	left: 155px;
	width: 76px;
}
#virtuals .fore4 .mt {
	left: 232px;
	width: 76px;
}
#virtuals .mc {
	width: 308px;
}
.lh {
	overflow: hidden;
	zoom: 1;
}
.lh li, .lh dl, .lh .item {
	float: left;
}
#hot {
	position: relative;
	float: left;
	width: 770px;
	padding-top: 38px;
	border-top: 2px solid #C00;
}
#hot .mt {
	width: 153px;
	height: 37px;
	line-height: 37px;
	border-top: none;
}
#hot .fore1 .mt {
	left: 0;
	width: 152px;
}
#hot .fore2 .mt {
	left: 153px;
}
#hot .fore3 .mt {
	left: 307px;
}
#hot .fore4 .mt {
	left: 461px;
}
#hot .fore5 .mt {
	left: 615px;
}
#hot .mc {
	display: none;
	width: 768px;
	height: 230px;
}
#hot .mc ul {
	height: 230px;
}
#hot .mc li {
	width: 142px;
	padding: 0 6px;
}
#hot .mc .fore1 {
	width: 140px;
}
#hot .curr .mt {
	height: 38px;
	background: #fff;
	border-bottom: none;
	color: #C00;
}
#hot .curr .mc {
	display: block;
}
#hot .p-img {
	width: 130px;
	height: 132px;
	padding: 30px 0 6px;
	margin: 0 auto;
	text-align: center;
}
#hot .p-name {
	height: 3em;
}
#hot .p-price strong {
	font-size: 14px;
	font-family: verdana;
}
#hot .loading-style1 {
	margin-top: 90px;
}
#hot {
	width: 890px;
}
#hot .mt {
	width: 177px;
}
#hot .fore1 .mt {
	width: 176px;
}
#hot .fore2 .mt {
	left: 177px;
}
#hot .fore3 .mt {
	left: 355px;
}
#hot .fore4 .mt {
	left: 533px;
}
#hot .fore5 .mt {
	left: 711px;
}
#hot .mc {
	width: 888px;
}
#hot .mc li {
	width: 158px;
	padding: 0 10px;
}
#hot .mc .fore1 {
	width: 156px;
}
#hot .p-img {
	padding-left: 13px;
	padding-right: 13px;
}
.p-name, .p-detail {
	word-break: break-all;
	word-wrap: break-word;
}
.p-img, .p-name, .p-price, .p-market, .p-detail {
	overflow: hidden;
}
.p-img {
	padding: 5px 0;
}
.p-img a:link, .p-img a:visited {
	text-decoration: none;
}
.p-img .pi {
	cursor: pointer;
}
.p-name, .p-detail {
	word-break: break-all;
	word-wrap: break-word;
}
.p-price {
	color: #999;
}
.p-price strong, .p-market strong {
	color: #C00;
}
#first {
	float: right;
	width: 210px;
}
#first .mc {
	height: 230px;
	padding: 0 5px;
}
#first .item {
	height: 110px;
	padding: 2px 0;
	overflow: hidden;
}
#first .fore1 {
	border-bottom: 1px dotted #ccc;
}
#first .fore1 .p-img {
	float: left;
	margin-right: 5px;
}
#first .fore2 .p-img {
	float: right;
	margin-left: 5px;
}
#first .p-name {
	height: 36px;
	padding-top: 5px;
	margin-bottom: 8px;
	line-height: 18px;
}
#first .p-name a {
	font-weight: bold;
	font-size: 14px;
}
#first .p-name span {
	display: inline-block;
	width: 28px;
	height: 16px;
	padding-left: 9px;
	overflow: hidden;
	background: url(../images/index-image.png) no-repeat -265px -536px;
	line-height: 16px;
	color: #fff;
}
#first .p-detail {
	height: 4.5em;
	color: #999;
}
*html #first .p-name span {
	position: relative;
	top: -3px;
}
#first {
	width: 310px;
}
#first .mc {
	padding: 0 10px;
}
#first .p-name {
	height: 18px;
}
#first .p-detail {
	height: 6em;
}
#first .fore1 .p-img {
	margin-right: 10px;
}
#first .fore2 .p-img {
	margin-left: 10px;
}
#timed {
	float: left;
	width: 770px;
	background: url(../images/index-image.png) #F3F3F3 no-repeat -90px -886px;
}
#timed .mt {
	background: none;
}
#timed .mc {
	width: 761px;
	padding: 0 0 7px 7px;
}
#timed .mc li {
	width: 144px;
	height: 253px;
	border: 1px solid #ddd;
	margin-right: 6px;
	background: #fff;
}
#timed .mc .fore5 {
	margin-right: 0;
}
#timed .p-img {
	width: 130px;
	height: 138px;
	padding: 10px 4px 0;
	margin: 0 auto;
	text-align: center;
}
#timed .p-img .pix1 {
	height: 38px;
	padding-top: 3px;
}
#timed .p-img .pix1 {
	line-height: 16px;
	font-size: 12px;
}
#timed .p-img .pix1 span {
	line-height: 20px;
	font-size: 20px;
}
#timed .p-name {
	height: 3em;
	padding: 0 8px;
	margin: 5px 0;
}
#timed .p-price {
	height: 1.5em;
	padding: 5px 0 0 8px;
	border-top: 1px dotted #ccc;
}
#timed .p-price span {
	display: none;
}
#timed .p-price strong {
	font-size: 14px;
	font-family: verdana;
}
#timed .countdown {
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px dotted #ccc;
	text-align: center;
	line-height: 30px;
	color: #999;
}
#timed .countdown b {
	padding: 0 2px;
	font-size: 16px;
}
#timed .countdown a {
	color: #005EA7;
}
#timed .loading-style1 {
	margin-top: 110px;
}
#timed {
	width: 890px;
}
#timed .mc {
	width: 881px;
}
#timed .mc li {
	width: 168px;
}
#timed .p-price span {
	display: inline;
}
#group .p-detail, #group .btn-tuan {
	background-image: url(../images/index-image.png);
	background-repeat: no-repeat;
}
#group {
	float: right;
	width: 210px;
}
#group .mc {
	height: 140px;
	padding: 8px 5px 3px 0;
}
#group .p-img {
	float: right;
	padding: 0;
}
#group .p-name {
	float: left;
	width: 92px;
	padding-left: 5px;
	height: 6em;
	margin-bottom: 4px;
}
#group .p-market {
	float: left;
	width: 92px;
	padding-left: 10px;
	color: #999;
}
#group .p-detail {
	float: right;
	width: 176px;
	height: 33px;
	padding: 5px 5px 2px 20px;
	background-color: #F83C3C;
	background-position: 0 -594px;
	overflow: hidden;
	zoom: 1;
}
#group .p-detail span, #group .p-detail strong {
	float: left;
	color: #fff;
	line-height: 30px;
}
#group .p-detail span {
	display: none;
}
#group .p-detail strong {
	font-size: 20px;
}
#group .btn-tuan {
	float: right;
	width: 71px;
	height: 33px;
	overflow: hidden;
	background-color: #FFCF13;
	background-position: 0 -636px;
	line-height: 100px;
}
#group {
	width: 310px;
}
#group .mc {
	padding-right: 10px;
}
#group .p-name, #group .p-market {
	width: 180px;
	padding-left: 10px;
}
#group .p-detail {
	width: 271px;
}
#group .p-detail span {
	display: inline;
}
#group .btn-tuan {
	width: 91px;
	background-position: -74px -636px;
}
.da0x100 {
	width: 210px;
	height: 100px;
	background: #F8F8F8;
}
.da0x90 {
	width: 210px;
	height: 90px;
	background: #F8F8F8;
}
.da0x150 {
	width: 310px;
}
.da0x100 {
	width: 310px;
}
.da0x90 {
	width: 310px;
}
.club .mc {
	height: 161px;
	padding: 0 10px;
}
.club li {
	height: 60px;
	padding: 10px 0 10px 15px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}
.club .p-img {
	float: left;
	margin-right: 15px;
	overflow: visible;
}
.club .p-name {
	height: 1.5em;
	padding: 3px 0;
}
.club .p-name a:link, .club .p-name a:visited {
	color: #005EA7;
}
.club .vi {
	display: inline-block;
	position: relative;
	top: 1px;
	left: 3px;
}
.club .ci {
	top: 0;
	right: -10px;
}
.club .p-detail {
	width: 225px;
	height: 3em;
	padding-right: 50px;
	background: url(../images/index.png) no-repeat 240px -342px;
	color: #999;
}
.club .p-detail a:link, .club .p-detail a:visited {
	color: #999;
}
.club .loading-style1 {
	margin-top: 100px;
}
.club .mc {
	*position: relative;
}
*html .club .vi {
	top: -2px;
}
.club .p-detail {
	width: 285px;
	background-position: 300px -342px;
}
#share {
	float: left;
	width: 386px;
}
#share .mt {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}
#share {
	width: 446px;
}
#comment {
	float: left;
	width: 384px;
}
#comment .mt {
	border-left: none;
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}
#comment .mc {
	border-left: none;
}
#comment {
	width: 444px;
}
#reading {
	float: right;
	width: 210px;
	margin-bottom: 6px;
}
#reading .mc {
	padding: 5px 10px;
}
#reading .p-img {
	display: none;
	float: left;
	width: 100px;
	padding: 0;
}
#reading ul {
	width: auto;
}
#reading li {
	height: 25px;
	overflow: hidden;
	line-height: 25px;
}
#reading .mc a {
	color: #005EA7;
}
#reading .mc b {
	margin-right: 4px;
}
*html #reading .mc b {
	font-size: 8px;
}
#reading {
	width: 310px;
}
#reading .p-img {
	display: block;
}
#reading ul {
	float: right;
	width: 180px;
}
#subscription .text, #subscription .button {
	background-image: url(../images/index.png);
	background-repeat: no-repeat;
}
#subscription {
	float: right;
	width: 210px;
	overflow: visible;
}
#subscription .mt {
	margin-bottom: 2px;
}
#subscription .mc {
	overflow: visible;
}
#subscription .form {
	position: relative;
	width: 210px;
}
#subscription .text {
	width: 115px;
	height: 21px;
	padding: 1px 0 1px 25px;
	background-position: -210px -30px;
	border: 1px inset #bbb;
	line-height: 21px;
	color: #999;
}
#subscription .button {
	float: right;
	width: 63px;
	height: 25px;
	background-position: -168px 0;
	line-height: 25px;
	font-weight: bold;
}
#subscription .correct {
	border: 1px solid #D9D3BB;
	background: #FFFDEE;
	color: #34772A;
}
#subscription .incorrect {
	border: 1px solid #C2A4A4;
	background: #FEE9E8;
	color: #A31112;
}
#subscription-prompt {
	position: absolute;
	top: 26px;
	width: 118px;
	padding: 2px 0;
	text-align: center;
}
#subscription {
	width: 310px;
}
#subscription .form {
	width: 310px;
}
#subscription .text {
	width: 215px;
}
#subscription-prompt {
	width: 240px;
}
#footer {
	padding-bottom: 30px;
	text-align: center;
}
#footer .links a, #footer .links span {
	margin: 0 10px;
}
#footer .links span a {
	margin: 0;
}
#footer .copyright {
	margin: 10px 0;
}
#footer .authentication a {
	margin: 0 5px;
}